insmod vbe
insmod vga
insmod all_video

set gfxmode=auto
set gfxpayload=keep
set timeout=5
set default=0
menuentry "DemiDOS PRO Normal boot" {
    multiboot /boot/kernel.bin
    boot
}
menuentry "DemiDOS PRO Safe boot" {
    multiboot /boot/kernel.bin -safe
    echo "Loading packages..."
    sleep 9
    echo "Loading Services..."
    sleep 5
    boot
}
menuentry "DemiDOS Shutdown" {
    echo "It's now safe to turn off you PC"
    halt
}
